* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Hoefler Text", "Baskerville old face", Garamond,
    "Times New Roman", serif !important;
  font-weight: 500;
  font-size: 16px !important;
  background-color: #435165;
  height: 100vh;
  display: grid;
}

.container {
  display: grid;
  height: 100vh;
  grid-template-rows: 0.3fr 8fr;
  grid-template-areas:
    "header"
    "main";
}

header {
  background-color: white;
  width: cover;
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 5%;
}

main {
  grid-area: main;
  display: grid;
  justify-content: center;

}

.current_loaded_policy {
  width: 60rem;
  height: 10rem;
  padding: 1.5rem;
  background-color: white;
  border-radius: 10px;
  border: 1px solid black;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.current_loaded_policy h2 {
  margin-bottom: 1.3rem;
}

.current_loaded_policy h1 {
  text-align: center;
  margin-top: -0.4rem;
}

.display_policy_files_container {
  width: 60rem;
  background-color: white;
  border-radius: 10px;
  border: 1px solid black;
  min-height: calc(100vh - 19rem);
  margin-bottom: 1rem;
}

.search_bar_container {
  width: cover;
  margin-top: 1.5rem;
}

.search_bar_inp {
  width: 70%;
  padding: 5px;
  border: 1px solid black;
  resize: none;
  outline: none;
  margin-left: 12%;
  background-color: #f5f5f5;
  font-size: 17px;
  text-emphasis-color: black;
}

.search_bar_form button {
  font-size: 17px;
  margin-left: -30px;
  width: 75px;
  padding: 5px;
  background-color: grey;
  color: white;
  cursor: pointer;
  border: 1px solid black;
  resize: none;
  outline: none;
}

.search_bar_form button:hover {
  background: #0088a9;
}

.inner_display_policy_files_container {
  box-sizing: border-box;
  width: cover;
  border: 1px solid darkgrey;
  background-color: lightgray;
  margin-top: 3.2rem;
  margin-right: 1rem;
  margin-left: 1rem;
  margin-bottom: 0.4rem;
  min-height: 31.3rem;
  max-height: 31.3rem;
  overflow: auto;
}

.display_policy_files_container h2 {
  margin-top: 1.2rem;
  margin-left: 1.5rem;
  margin-bottom: -0.5rem;
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  padding: 0.2rem;
  /*border: 1px solid darkgrey;*/
  border-radius: 10px;
  max-height: 10rem;
}

thead {
  background: white;
  border-bottom: 1px solid darkgrey;
}

thead th {
  font-size: 1.15rem;
  padding-left: 2rem;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
}
tbody td {
  padding-left: 35px;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  font-size: 17px;
}

.delete_btn {
  padding: 3px;
  font-size: 12px;
  font-weight: bolder;
  color: white;
  background: red;
  cursor: pointer;
  transition: background 0.2s ease 0s;
  border: 1px solid red;
}

.delete_btn:hover {
  background: darkred;
}

.table_btn {
  padding: 3px;
  width: 45px;
  background: grey;
  font-size: 12px;
  font-weight: bolder;
  cursor: pointer;
  color: white;
  transition: background 0.2s ease 0s;
  border: 1px solid grey;
}

.table_btn:hover {
  background: #0088a9;
}

.set_btn {
  padding: 3px;
  width: 45px;
  background: grey;
  font-size: 12px;
  font-weight: bolder;
  cursor: pointer;
  color: white;
  transition: background 0.2s ease 0s;
  border: 1px solid grey;
}

.set_btn:hover {
  background: #0088a9;
}

.table_row_odd {
  background: rgba(50, 116, 214, 0.25);
}

.table_row_even {
  background: rgba(255, 255, 255, 0.7);
}

.create_new_policy_btn {
  font-size: 14px;
  margin-left: 47rem;
  margin-bottom: 0.05rem;
  width: 140px;
  height: 40px;
  padding: 5px;
  background-color: grey;
  color: white;
  cursor: pointer;
  border: 1px solid black;
  resize: none;
  outline: none;
}

.create_new_policy_btn:hover {
  background: #0088a9;
}

.add_policy_form {
  margin-bottom: -3.3rem;
}

.setpol_all_btn_not_active{
  position: absolute;
  margin-top: 5.7rem;
  margin-left: 47.7rem;
  font-size: 13px;
  width: 150px;
  height: 30px;
  padding: 5px;
  background: grey;
  color: white;
  cursor: pointer;
  border: 1px solid black;
}

.setpol_all_btn_not_active:hover{
  background: #0088a9;

}

.setpol_all_btn_not_active_disabled{
  position: absolute;
  margin-top: 5.7rem;
  margin-left: 47.7rem;
  font-size: 13px;
  width: 150px;
  height: 30px;
  padding: 5px;
  background: grey;
  color: white;
  cursor: not-allowed;
  opacity: 0.3;
  border: 1px solid black;
}


.create_new_cond_btn{
  font-size: 14px;
  margin-left: 37rem;
  margin-bottom: 0.8rem;
  width: 160px;
  height: 40px;
  padding: 5px;
  background-color: grey;
  color: white;
  cursor: pointer;
  border: 1px solid black;
  resize: none;
  outline: none;
}

.create_new_cond_btn:hover{
  background: #0088a9;
}

.create_new_policy_btn{
  font-size: 14px;
  margin-left: 47rem;
}

.setpol_all_btn_active{
  position: absolute;
  margin-top: 5.7rem;
  margin-left: 47.7rem;
  font-size: 13px;
  width: 150px;
  height: 30px;
  padding: 5px;
  background: #0088a9;
  color: white;
  cursor: pointer;
  border: 1px solid black;
}

.show_all_policies_btn {
  position: absolute;
  padding: 4px;
  background: #0088a9;
  color: white;
  font-size: 12px;
  font-weight: bolder;
  margin-top: 1.7rem;
  margin-left: 3.6rem;
  cursor: pointer;
  border: 1px solid grey;
}

.show_loaded_policies_btn {
  position: absolute;
  padding: 4px;
  background-color: grey;
  color: white;
  font-size: 12px;
  font-weight: bolder;
  margin-top: 1.7rem;
  margin-left: 10.3rem;
  cursor: pointer;
  border: 1px solid grey;
}

.server_status {
  float: right;
  margin-right: 5rem;
}

.search_p {
  position: absolute;
  margin-left: 7.35rem;
  margin-top: 0.5rem;
}

.policy_name_check {
  position: absolute;
  margin-left: -26.65rem;
  margin-top: 2.7rem;
  cursor: pointer;
}

.form_label_policy_name {
  position: absolute;
  margin-top: 2.5rem;
  margin-left: -32rem;
}

.form_label_user {
  position: absolute;
  margin-top: 2.5rem;
  margin-left: -25.4rem;
}

.user_check {
  position: absolute;
  margin-top: 2.7rem;
  margin-left: -23.1rem;
  cursor: pointer;
}

.form_label_object {
  position: absolute;
  margin-top: 2.5rem;
  margin-left: -21.8rem;
}

.object_check {
  position: absolute;
  margin-top: 2.7rem;
  margin-left: -18.7rem;
  cursor: pointer;
}

#admin_man_overlay_btn {
  font-size: 13px;
  margin-left: 44rem;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
  width: 200px;
  height: 30px;
  padding: 5px;
  background-color: grey;
  color: white;
  cursor: pointer;
  border: 1px solid black;
  resize: none;
  outline: none;
}

#admin_man_overlay_btn:hover {
  background: #0088a9;
}

.combine_policy_overlay_btn {
  position: absolute;
  font-size: 13px;
  margin-left: 30rem;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
  width: 200px;
  height: 30px;
  padding: 5px;
  background-color: grey;
  color: white;
  cursor: pointer;
  border: 1px solid black;
  resize: none;
  outline: none;
}

.combine_policy_overlay_btn:hover {
  background: #0088a9;
}

.combine_policy_overlay_btn_disabled {
  position: absolute;
  font-size: 13px;
  margin-left: 30rem;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
  width: 200px;
  height: 30px;
  padding: 5px;
  background-color: grey;
  color: white;
  cursor: not-allowed;
  opacity: 0.3;
  border: 1px solid black;
  resize: none;
  outline: none;
}




.choose_frontend_txt:hover {
  cursor: pointer;
  text-decoration: underline;
}

#policy_name_td {
  transition: 0.8s;
}

#policy_name_td:hover {
  cursor: pointer;
  text-decoration: underline;
}

div#Loader2 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(73, 73, 73, 0.651);
  width: 100%;
  height: 100%;
  z-index: 999999;
  display: none;
}

div#message2{
  width: 50%;
  height: 100px;
  margin-top: 25%;
  margin-left: 25%;
  border: 2px solid black;
  text-align: center;
  line-height: 100px;
  background-color: rgb(255, 0, 0);
}