* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* This is the style for the login page */

.form_cont{
    padding-top: 20rem;
    padding-bottom: 20rem;
}

.dynamic_form {
    margin-left: auto;
    margin-right: auto;
    padding: 2rem;
    width: 60rem;
    background-color: white;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
}

#add_policy_form {
    width: 24rem;
}



h1 {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    text-align: center;
}

.form_elements {
    position: relative;
    height: 3rem;

    margin-top: 1rem;
    margin-bottom: 1rem;
}


.form_elements .policy_input {
    width: 100%;
    height: 75%;
    border: 1.5px solid;
    font-family: inherit;
    font-weight: inherit;
    font-size: 18px;
    outline: none;
    padding: 0.5rem;
}

.form_elements .form_label {
    position: absolute;
    left: 0rem;
    bottom: 3.1rem;
}

.form_button {
    display: block;
    margin-left: auto;
    margin-top: 1rem;
    padding: 0.4rem 1.5rem;
    background-color: #3274d6;
  	border: 1px solid #3274d6;
  	cursor: pointer;
  	font-weight: bold;
  	color: white;
    font-weight: bolder;
    cursor: pointer;   
}

.form_button:hover{
  background-color: #2868c7;
}

.float-container {
    border: 5px solid rgb(255, 255, 255);
}

.float-child-2{
    text-align: center;
    width: 50%;
    float: left;
    padding-bottom: 20px;
}  

.float-child-3{
    text-align: center;
    width: 33.33333%;
    float: left;
    padding-bottom: 20px;
}  

.float-child-4{
    text-align: center;
    width: 25%;
    float: left;
    padding-bottom: 20px;
}  

.border{
    height: 30px;
    margin-top: 2px;
    margin-bottom: 2px;
    padding-top: 4px;
    padding-bottom: 4px;
    border: 1px solid black;
}

select{
    left: 0rem;
    width: 90%;
    height: 100%;
    font-family: inherit;
    font-weight: inherit;
    font-size: 18px;
    outline: none;
    padding: 0.5rem;
    margin-bottom: 1rem;
}

.policy_input{
    left: 0rem;
    width: 90%;
    height: 100%;
    font-family: inherit;
    font-weight: inherit;
    font-size: 18px;
    outline: none;
    padding: 0.5rem;
    margin-bottom: 1rem;
}

.input_button {
    display: block;
    width: 85%;
    height: 3rem;

    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    padding: 0.4rem 1.5rem;

    background-color: #3274d6;
  	border: 1px solid #3274d6;

  	cursor: pointer;
      
  	font-weight: bold;
    font-size: 18px;
  	color: white;
    font-weight: bolder;
    cursor: pointer;   
}

.input_button:hover{
  background-color: #2868c7;
}


.edit_button {
    display: block;
    width: 40rem;
    height: 3rem;

    margin-left: 28rem;
    margin-top: 1rem;
    padding: 0.4rem 1.5rem;

    background-color: #3274d6;
  	border: 1px solid #3274d6;

  	cursor: pointer;
      
  	font-weight: bold;
    font-size: 18px;
  	color: white;
    font-weight: bolder;
    cursor: pointer;   
}

.edit_button:hover{
  background-color: #2868c7;
}

