* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* This is the style for the login page */

body {
    font-family: "Hoefler Text", "Baskerville old face", Garamond, "Times New Roman", serif;
    font-weight: 500;
    background-color: #435165;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
}

.add_policy_form {
    width: 24rem;
    padding: 1.5rem;
    background-color: white;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
}


.add_policy_form h1 {
  margin-bottom: 2.5rem;
  text-align: center;
}

.add_policy_form .form_elements {
    position: relative;
    height: 3rem;
    margin-bottom: 1rem;
}

.form_elements .policy_input {
    width: 100%;
    height: 75%;
    border: 1.5px solid;
    font-family: inherit;
    font-weight: inherit;
    font-size: 18px;
    outline: none;
    padding: 0.5rem;
}

.form_elements .form_label {
    position: absolute;
    left: 0rem;
    bottom: 3.1rem;
}

.add_policy_form .form_button {
    display: block;
    margin-left: auto;
    padding: 0.4rem 1.5rem;
    background-color: #3274d6;
  	border: 1px solid #3274d6;
  	cursor: pointer;
  	font-weight: bold;
  	color: white;
    font-weight: bolder;
    cursor: pointer;   
}

.add_policy_form .form_button:hover{
  background-color: #2868c7;
}
